.login-container {
	position: absolute;
  width: 40%;
  top: 25%;
  margin: 0 auto;
  left: calc(50% - 256px);
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(153, 181, 194, 0.31);
  border-radius: 4px;
  border: solid 1px #d0e1ea;
  padding: 50px 100px;
}
.form-login input {
	border: 0;
  box-shadow: none;
  border-bottom: 1px solid #d0e1ea;
  border-radius: 0;
}
.form-login input:focus {
  box-shadow: none;
  border-bottom: 1px solid #d0e1ea;
  border-radius: 0;
}
.form-login .form-group {
  margin-bottom: 30px;
} 
.form-login .btn-login {
	border-radius: 4px;
  background-color: #04779a;
  box-shadow: 0 0 30px 0 #04779ae6;
  margin-top: 70px;
}
.form-login .input-group-addon {
	background: none;
  border: 0;
  border-bottom: 1px solid #d0e1ea;
  border-radius: 0;
}
.form-login .fa {
	font-size: 18px;
  color: #d0e1ea;
}